    html {
        box-sizing: border-box;
    }
    
    *,
    *::after,
    *::before {
        box-sizing: inherit;
    }
    
    ul,
    ol {
        padding: 0;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    li,
    figure,
    figcaption,
    blockquote,
    dl,
    dd {
        margin: 0;
    }
    
    ul {
        list-style: none;
    }
    
    img {
        max-width: 100%;
        /* display: block;*/
    }
    
    input,
    button,
    textarea,
    select {
        font: inherit;
    }
    
    button {
        cursor: pointer;
    }


    
    

    /*сетка*/
    @media (max-width: 108em) {
        html {
            font-size: 9px;
        }
    }

    @media (max-width: 105em) {
        html {
            font-size: 8.75px;
        }
    }

    @media (max-width: 91.5em) {
        html {
            font-size: 7.9px;
        }
    }

    @media (max-width: 91em) {
        html {
            font-size: 8.4px;
        }
    }

    @media (max-width: 90em) {
        html {
            font-size: 7.9px;
        }
    }

    @media (max-width: 80em) {
        html {
            font-size: 7.2px
        }
    }

    @media (max-width: 72em) {
        html {
            font-size: 6.5px;
        }
    }

    @media (max-width: 64em) {
        html {
            font-size: 5.5px;
        }
    }

    @media (max-width: 48em) {
        html {
            font-size: 10px;
        }

    }

    @media (max-width: 44em) {
        html {
            font-size: 9px;
        }
    }

    @media (max-width: 38em) {
        html {
            font-size: 8px;
        }
    }

    @media (max-width: 34em) {
        html {
            font-size: 7px;
        }
    }

    @media (max-width: 30em) {
        html {
            font-size: 6px;
        }
    }

    @media (max-width: 26em) {
        html {
            font-size: 4.5px;
        }
    }

    @media (max-width: 21em) {
        html {
            font-size: 4.4px;
        }
    }

    /*сетка*/